@import url('../node_modules/bulma/css/bulma.css');

.header-panel {
  background: #f8f8f8;
  top: 0;
  width: 370px;
  padding: 10px;
  height: 50px;
  z-index: 999;
}

.header-panel .field {
  width: 50%;
  display: inline-block;
}

.header-panel .title {
  color: #fff;
}

.portfolio {
  width: 100%;
  position: absolute;
  background-color: #209cee;
  z-index: 999;
}

.list-items-wrapper {
  max-height: 550px;
  overflow-y: scroll;
}

.plr3 {
  padding: 0 3px;
}
.mlr3 {
  margin: 0 3px;
}

.loader-i {
  width: 50px;
}

.loader-wrap {
  margin-top: 100px;
  text-align: center;
}

.results {
  margin-top: 50px;
}

.table .crypto-icon img {
  width: 30px;
  vertical-align: middle;
}

.list-item {
  display: flex;
  vertical-align: middle;
  font-size: 14px;
  border: 1px solid #dbdbdb;
  border-width: 0 0 1px;
  padding: 0.5em 0.75em;
}
.list-item:hover {
  background-color: #fafafa;
}
.list-item .crypto-icon img {
  width: 25px;
}
.list-item-section {
  text-align: left;
}
.list-item-options {
  background-color: #f8f8f8;
  padding: 10px;
}
